---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Mi Porfolio"
	description="Porfolio personal creado con Astro + TailwindCSS"
>
	<main>
		<h1>Home</h1>
	</main>
</Layout>
