---
    import Titulo from './Titulo.astro';
---

<main class="min-h-screen bg-black font-sans">
    <Titulo title="Sobre mí" />

    <!--TODO Terminar el about, con informacion detallada sobre mi y que tecnologias uso y mis softskills -->
</main>
