---
    import Titulo from "./Titulo.astro";
    import ContactCard from "./ContactCard.astro";
    import InputContact from "./InputContact.astro";
---

<section class="min-h-screen bg-black" id="contact">
    <Titulo title="Contáctame" />
    <div class="flex flex-wrap gap-20 justify-center">
        <!-- Formulario -->
        <div class="text-gray-400 pl-6 text-md gap-5">
            <h3 class="text-white text-3xl mb-8">Enviame un mensaje</h3>

            <form action="" class="flex flex-col gap-5">

                <InputContact label="Nombre" placeholder="Tu nombre"/>

                <InputContact label="Email" placeholder="name@example.com" />

                <InputContact label="Tema" placeholder="Escribe el tema..."  />

                <label for="mensaje" class="flex gap-2 flex-col">Mensaje
                    <textarea id="mensaje" placeholder="Escribe tu mensaje" name="mensaje" 
                        class="bg-zinc-900 px-3 py-3 rounded-lg focus:outline-blue-500 focus:outline w-lg h-30 resize-none"/>
                </label>

                <button type="submit" class="bg-blue-500 p-2 rounded-lg text-white hover:bg-blue-700 transition-colors">
                    Enviar mensaje
                </button>
            </form>
        </div>

        <!-- Telefono, email, localizacion, etc -->
        <div>
            <h3 class="text-white text-3xl mb-8">Información de contacto</h3>

            <!-- TODO: Estilizar y colocar la card -->
            <ContactCard logo="" tipo="email" info="c.estebandiez@gmail.com" />
        </div>
    </div>
</section>