---
const {logo, tipo, info} = Astro.props;
---

<section class="bg-zinc-900 rounded flex align-center justify-center">
    <!-- Logo del tipo de contacto -->
    <div class="w-12 h-12 flex content-center justify-center bg-blue-400/20 rounded-md">
        <img src={logo} alt={tipo}>
    </div>

    <!-- Informacion del contacto -->
    <div>
        <h5>{tipo}</h5>
        <p>{info}</p>
    </div>
</section>