---
    import Titulo from "./Titulo.astro";
    import ContactCard from "./ContactCard.astro";
    import InputContact from "./InputContact.astro";

    //Importar el codigo de los logos
    import email from "../assets/Email.svg?url";
    import phone from "../assets/Phone.svg?url";
    import location from "../assets/Location.svg?url";
---

<section class="min-h-screen bg-black mb-20" id="contact">
    <Titulo title="Contáctame" />
    <div class="flex flex-wrap gap-20 justify-center">
        <!-- Formulario -->
        <div class="text-gray-400 pl-6 text-md gap-5">
            <h3 class="text-white text-3xl mb-8">Enviame un mensaje</h3>

            <form action="" class="flex flex-col gap-5" id="contactForm">

                <InputContact label="Nombre" placeholder="Tu nombre" name="nombre"/>

                <InputContact label="Email" placeholder="name@example.com" name="email" />

                <InputContact label="Tema" placeholder="Escribe el tema..." name="tema"  />

                <label for="mensaje" class="flex gap-2 flex-col">Mensaje
                    <textarea id="mensaje" placeholder="Escribe tu mensaje" name="mensaje" required 
                        class="bg-zinc-900 px-3 py-3 rounded-lg focus:outline-blue-500 focus:outline w-lg h-30 resize-none"/>
                </label>

                <button type="submit" class="bg-blue-500 p-2 rounded-lg text-white hover:bg-blue-700 transition-colors" id="btnEnviar">
                    Enviar mensaje
                </button>
            </form>
        </div>

        <!-- Telefono, email, localizacion, etc -->
        <div class="flex flex-col gap-8">
            <h3 class="text-white text-3xl mb-2">Información de contacto</h3>

            <!-- TODO: Estilizar y colocar la card -->
            <ContactCard logo={email} tipo="Email" info="c.estebandiez@gmail.com" />
            <ContactCard logo={phone} tipo="Teléfono" info="+34 659 90 65 50" />
            <ContactCard logo={location} tipo="Ubicación" info="Madrid, España" />
        </div>
    </div>
</section>

<!-- Script para enviar el email -->
<script src="/src/scripts/sendEmail.js"></script>