<header class="font-sans">
    <nav class="">
        <a href="/" class="">HOME</a>
        <a href="/about" class="">ABOUT</a>
        <a href="/projects" class="">PROYECTS</a>
        <a href="/contact" class="">CONTACT</a>
    </nav>
</header>
