<header class="">
    <nav class="">
        <a href="/" class="">Home</a>
        <a href="/about" class="">About</a>
        <a href="/projects" class="">Projects</a>
        <a href="/contact" class="">Contact</a>
    </nav>
</header>
