<header
    class="font-sans bg-transparent flex justify-center fixed top-0 left-0 right-0 z-50 pt-4 px-4"
>
    <nav
        class="text-gray-300 font-semibold flex space-x-4 sm:space-x-6 md:space-x-8 bg-transparent text-xs sm:text-sm md:text-base"
    >
        <a href="#home" class="hover:text-blue-500 transition-colors">HOME</a>
        <a href="#about" class="hover:text-blue-500 transition-colors">ABOUT</a>
        <a href="#proyects" class="hover:text-blue-500 transition-colors"
            >PROJECTS</a
        >
        <a href="#contact" class="hover:text-blue-500 transition-colors"
            >CONTACT</a
        >
    </nav>
</header>
