<header
    class="font-sans bg-transparent flex justify-center fixed top-0 left-0 right-0 z-50 pt-4"
>
    <nav class="text-gray-300 font-semibold flex space-x-8 bg-transparent ">
        <a href="/" class="hover:text-gray-400 transition-colors">INICIO</a>
        <a href="/" class="hover:text-gray-400 transition-colors">SOBRE MÍ</a>
        <a href="/" class="hover:text-gray-400 transition-colors">PROYECTOS</a>
        <a href="/" class="hover:text-gray-400 transition-colors">CONTACTO</a>
    </nav>
</header>
