<header class="font-sans">
    <nav class="">
        <a href="/" class="text-white">HOME</a>
        <a href="/about" class="text-white">ABOUT</a>
        <a href="/projects" class="text-white">PROYECTS</a>
        <a href="/contact" class="text-white">CONTACT</a>
    </nav>
</header>
