<header
    class="font-sans bg-transparent flex justify-center fixed top-0 left-0 right-0 z-50 pt-4"
>
    <nav class="text-gray-300 font-semibold flex space-x-8 bg-transparent">
        <a href="#" class="">HOME</a>
        <a href="#about" class="">ABOUT</a>
        <a href="#proyects" class="">PROYECTS</a>
        <a href="#contact" class="">CONTACT</a>
    </nav>
</header>
