---
import Media from "./Media.astro";

//Para usar los svg hago el import a una variable
import GithubIcon from "../assets/Github.svg";
import LinkedInIcon from "../assets/LinkedIn.svg";
import InstagramIcon from "../assets/Instagram.svg";
import StackoverflowIcon from "../assets/Stackoverflow.svg";
---

<main
    class="min-h-screen relative bg-linear-to-tl from-blue-900 via-10% via-blue-950 to-black"
>
    <!-- aqui va el patron de puntos del fondo, en un div separado del contenido -->
    <div class="absolute inset-0 opacity-10 z-10">
        <div
            class="absolute inset-0"
            style="background-image: radial-gradient(circle at 2px 2px, rgb(70, 135, 239) 1px, transparent 1px); background-size: 40px 40px"
        >
        </div>
    </div>

    <!-- Contenido principal -->
    <div
        class="relative flex items-center justify-center h-screen flex-col gap-6 font-sans z-20"
    >
        <!-- Bienvenida -->
        <p
            class="text-blue-500 bg-blue-900/20 border border-blue-500/30 rounded-full px-4 py-2"
        >
            Bienvenido a mi portfolio
        </p>

        <!-- Presentacion -->
        <h2 class="text-5xl font-bold text-white text-center">
            Hola, mi nombre es
            <span class="text-blue-500">Carlos Esteban</span>
        </h2>

        <!-- Rol software -->
        <h3 class="text-2xl text-gray-400/80">Desarrollador Web full stack</h3>

        <!-- Breve descripcion -->
        <p class="text-gray-400/80 w-1/4 text-center">
            Estudiante de desarrollo web con ganas de aprender nuevas
            tecnologías y ampliar mis conocimientos y habilidades
        </p>
        <!-- Pills de RRSS -->
        <section class="flex gap-4 flex-wrap justify-center">
            <!-- Uso de icon el import como variable (Se usar .src para obtener el link) -->
            <Media
                nombre="Github"
                link="https://github.com/new-CarlosEst"
                icon={GithubIcon.src}
            />
            <Media
                nombre="LinkedIn"
                link="https://www.linkedin.com/in/new-carlosest/"
                icon={LinkedInIcon.src}
            />
            <Media
                nombre="Instagram"
                link="https://www.instagram.com/carlos.edz_"
                icon={InstagramIcon.src}
            />
            <Media
                nombre="Stackoverflow"
                link="https://stackoverflow.com/users/31797554/new-carlosest"
                icon={StackoverflowIcon.src}
            />
        </section>

        <!-- Botones con el contacto y el CV -->
        <div class="flex gap-4 font-medium">
            <button
                class="bg-blue-500 text-white rounded px-4 py-2 hover:bg-blue-700 transition-colors"
                >Descargar CV</button
            >
            <button
                class="rounded px-4 py-2 border border-gray-500 bg-transparent text-white hover:bg-gray-500/20 transition-colors"
                >Contactame</button
            >
        </div>
    </div>
</main>
