---
//Saco los props
const { nombre, link, icon } = Astro.props;
---

<!-- Esto seran donde iran las "pills" de las redes sociales -->
<section
    class="flex items-center gap-2 border border-gray-300/20 rounded-full bg-gray-900 text-white px-3 py-1.5 sm:px-4 sm:py-2
    hover:border-blue-500 text-sm sm:text-base"
>
    <a href={link} target="_blank" class="flex items-center gap-2">
        <img src={icon} alt={`logo-${nombre}`} class="w-4 h-4 sm:w-5 sm:h-5" />
        <span>{nombre}</span>
    </a>
</section>
