---
    import Titulo from './Titulo.astro';
    import Proyects from './Proyects.astro';
---

<section id="proyects" class="min-h-screen bg-zinc-900">
    <Titulo title="Proyectos" />
    <h4>Proyectos que hice durante mi formacion. En ellos aprendi a usar tecnologias como React, Node.js, Php, gestion de BBDD tanto Sql como noSql, etc.</h4>
    <div>
        <!-- <Proyects foto="" title="" descripcion="" tecnologias={[]} enlace="" /> -->
    </div>
</section>