---
    import Titulo from './Titulo.astro';
---

<section id="proyects" class="min-h-screen bg-zinc-900">
    <Titulo title="Proyectos" />
    <h4>Proyectos que hice durante mi formacion. En ellos aprendi a usar tecnologias como React, Node.js, Php y gestion de BBDD tanto Sql como noSql</h4>
    <div>
        
    </div>
</section>