---
import Titulo from "./Titulo.astro";
import ProyectsCard from "./ProyectsCard.astro";
import descriptionsProyects from "../utils/descriptions";

---

<section id="proyects" class="bg-zinc-900 py-20 overflow-hidden">
    <div class="mx-auto w-full max-w-6xl px-6 sm:px-8 md:px-12">
        <Titulo title="Proyectos" />
        <h4
            class="mx-auto max-w-2xl text-center text-zinc-400 text-base sm:text-lg"
        >
            Proyectos que hice durante mi formación. En ellos aprendí a usar
            tecnologías como React, Node.js, Php, gestión de BBDD tanto SQL como
            NoSQL, etc.
        </h4>

        <div class="mt-12 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <ProyectsCard 
                foto="/capturas-proyecto/skylimit-landing.webp"
                title="Skylimit"
                descripcion={descriptionsProyects["Skylimit"]}
                tecnologias={["React", "Nestjs", "TypeScript", "TailwindCSS", "PostgreSQL", "Prisma", "Docker"]}
                enlaceGithub="https://github.com/new-CarlosEst/SkyLimit"
                enlaceDemo="https://skylimit-front.onrender.com/"   
            />
        </div>
    </div>
</section>
