---
    const { title } = Astro.props;
---

<!-- Aqui iran los titulos de las paginas, para que tengan el mismo estilo -->
<header class="text-6xl text-white bg-transparent font-sans py-20 text-center">
    <h2 class="">{title}</h2>
    <span class="block w-24 border-b-4 border-blue-500 mt-4 mx-auto"></span>
</header>
