---
import Header from "../components/Header.astro";

//Es importante importar el globals.css para que funcione tailwind
import "../styles/global.css";

// Saco el titulo de los props (Al devolver props un objeto clave valor tienes que poner el mismo nombre, en este caso Title)
const { Title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Title}</title>
	</head>
	<body>
		<Header />
		<!-- Este slot coge todo lo que hay dentro de la etiqueta Layout en index.astro -->
		<slot />
	</body>
</html>
